.form
	.nested-fields.awards
		%br/
		= f.input :description
		= f.input :image, as: :file, input_html: {style: 'width: 100%', class: 'form-control'}
		= link_to_remove_association "Remove", f, class: "form-button btn btn-default"
		%br/
		%br/