%p#notice= notice
=@team.name


#members
	%h3.title Members
	%ul
		- @team.students.each do |student|
			%h3= student.name
				

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
