
%h1=@team.name


#members
	%h3.title Members
	%ul
		- @team.students.each do |student|
			%h3= student.name

-@team.events.each_with_index do |event,index|
	-if index%2 == 0
		.row
			.col.col-md-5
				%p.text= event.description
			.col.col-md-2
			.col.col-md-5
				=image_tag event.image.url(:large),class:"img-circle"
	-if index%2 == 1
		.row
			.col.col-md-5
				=image_tag event.image.url(:large),class:"img-circle"
			.col.col-md-2
			.col.col-md-5
				%p.text= event.description

				
-if user_signed_in?
	= link_to 'Edit', edit_team_path(@team)
	
