.form
	.nested-fields.projects
		%br/
		
		= f.input :description, label: "Skill Description", input_html: {style: 'width: 100%', class: 'form-control'}
		%br/
		= link_to_remove_association "Remove", f, class: "form-button btn btn-default"
		%br/
		%br/